<ion-content class="add-goal-content">
  <div class="page">
    <section class="hero-card">
      <button class="hero-icon-btn" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>

      <div class="hero-text">
        <p class="eyebrow">GOAL ENGINE</p>
        <h1>Create Goal</h1>
        <p class="subtitle">
          Define your goal and let AI generate daily actions, weekly actions, and milestones.
        </p>
      </div>

      <div></div>
    </section>

    <section class="form-card">
      <p class="error-text" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <div class="form-group">
        <label>Goal Title</label>
        <input
          type="text"
          [(ngModel)]="form.title"
          placeholder="Get a Backend Developer Job"
        />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea
          rows="4"
          [(ngModel)]="form.description"
          placeholder="Example: I want to apply for backend developer roles and get hired before the target date."
        ></textarea>
      </div>

      <div class="form-group">
        <label>Goal Type</label>

        <select [(ngModel)]="form.goalType">
          <option value="JOB_SEARCH">Job Search</option>
          <option value="CAREER_GROWTH">Career Growth</option>
          <option value="SKILL_DEVELOPMENT">Skill Development</option>
          <option value="CERTIFICATION">Certification</option>
          <option value="PERSONAL">Personal</option>
          <option value="BUSINESS">Business</option>
        </select>
      </div>

      <div class="form-group">
        <label>Target Date</label>
        <input type="date" [(ngModel)]="form.targetDate" />
      </div>

      <div class="toggle-card">
        <div>
          <h4>Generate AI Plan</h4>
          <p>Create milestones, daily and weekly actions automatically.</p>
        </div>

        <ion-toggle [(ngModel)]="form.useAiPlan"></ion-toggle>
      </div>

      <button
        class="primary-btn"
        [disabled]="loading"
        (click)="createGoal()"
      >
        {{ loading ? 'Creating Goal...' : 'Create Goal' }}
      </button>
    </section>
  </div>
</ion-content>